* {
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: #C69C6D;
  width: 100%;
  height:auto;
  padding: 10px;
}

header h1 {
  position: relative;
  margin: 0 auto .25em;
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  color: #603813;
}

ul {
  margin: 10px auto;
  padding: 0;
  width: 100%;
  max-width: 960px;
}

li {
  width: 20%;
  height: auto;
  background-color: #FFDCB5;
  list-style: none;
  padding: 10px;
  margin: 2.5%;
  float: left;
  border-radius: 5px;
  box-shadow: 0 3px 0 #603813;
}

li img {
  position: relative;
  width: 100%;
  height: auto;
}

li a {
  font-size: 12px;
}

q {
  font-size: 12px;
  line-height: auto;
}

#tagSubmission,
#tagSubmission:active,
#tagSubmission:focus {
  outline: none;
  border: 0;
  padding: 5px;
  background-color: #FFDCB5;
  color: #603813;
  border-radius: 5px;
  font-weight: 700;
  width: 80%;
  float: left;
}

#submit,
#submit:active,
#submit:focus {
  outline: none;
  border: 0;
  padding: 5px;
  background-color: #603813;
  color: #FFDCB5;
  border-radius: 5px;
  font-weight: 500;
  width: 15%;
  float: left;
}

.center {
  margin: 0 auto;
}
