* {
  font-family: 'Oswald', sans-serif;
}

header {
  display: flex;
  background-color: #C69C6D;
  width: 100%;
  height:auto;
  padding: 10px;
}

header h1 {
  position: relative;
  margin: .25em auto;
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  color: #603813;
}



ul {
  margin: 10px auto;
  padding: 0;
  width: 100%;
  max-width: 960px;
}

li {
  width: 20%;
  height: 300px;
  background-color: #FFDCB5;
  list-style: none;
  margin: 2.5%;
  float: left;
  border-radius: 5px;
  box-shadow: 0 3px 0 #603813;
}

#tagSubmission,
#tagSubmission:active,
#tagSubmission:focus {
  outline: none;
  border: 0;
  padding: 5px;
  background-color: #FFDCB5;
  color: #603813;
  border-radius: 5px;
  font-weight: 700;
}

.center {
  margin: 0 auto;
}
